<%- include('components/header.ejs') %>

<div class="banner container"></div>
<div class="container row m-auto">
    <div class="photo col"></div>
    <div class="abt-content m-5 col">
        <h2 class="my-3" style="font-weight: 600; color: #237579;">Welcome to PayFlow</h2>
        <h4 class="mb-4" style="font-weight: 400; color: #35B8BE;">Your trustful e-banking partner.</h4><br>
        <p>The Bank has successfully diversified businesses through its various subsidiaries i.e PayFlow General Insurance, Payflow Life Insurance, PayFlow Mutual Fund, PayFlow Card, etc. It has spread its presence globally and operates across time zones through many offices in many foreign countries.</p>
        <p>Growing with times, PayFlow continues to redefine banking, as it aims to offer responsible and sustainable Banking solutions.</p>
        <a href="/home"><i class="fa-solid fa-circle-play fa-2xl my-5"></i></a>
    </div>
</div>

<%- include('components/footer.ejs') %>