<%- include('components/header.ejs') %>
    <div class="container main d-flex">
        <div class="left">
            <div class="heading">
                <h1>Welcome to <br><span style="color: #35B8BE;">PayFlow</span> banking</h1>
            </div>
            <div class="para">
                <p>We combine business with finance. Apply for a quick loan from us today.<br>We provide safe and secure
                    e-banking.</p>
            </div>
            <div>
                <a href="/customer"><button class="get-started"><span style="color: #35B8BE;">Start</span></button></a>
            </div>
        </div>
        <div class="right"></div>
    </div>
    <div class="intro">
        <div class="container intro-outside">
            <div class="container intro-inside-1 d-flex mt-5">
                <h3 style="color: #35B8BE;">Our Customers</h3>
                <div class="line"></div>
                <div class="intro-right">
                    <h3>3000+ businesses around the world <br>trust us to keep their money safe.</h3>
                    <p>With PayFlow, you never have to worry about unpaid bills and <br>skipping coffees to save money.
                        We help you plan ahead so you <br>can achieve your goals--and celebrate them!</p>
                </div>
            </div>
            <div class="container intro-inside-2 d-flex">
                <h3 style="color: #35B8BE;">Our Services</h3>
                <div class="line"></div>
                <div class="intro-right">
                    <h3>Power up your business with a <br>full-stack online bank account that <br>fits your needs.</h3>
                </div>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 6%;">
                <a href="/customer"><button class="get-started-now"><span style="color: #35B8BE;">Get Started Now</span></button></a>
            </div>
        </div>
    </div>
    <%- include('components/footer.ejs') %>